## #. 순차 기본 자료형
* tuple
* str
* list

### 1. tuple

In [ ]:
tup = (4, 5, 6)
tup

In [ ]:
tuple([4, 0, 2]) # tuple()
tup = tuple('string')
tup

In [ ]:
tup[0]

In [ ]:
nested_tup = (4, 5, 6), (7, 8) # nested tuple
nested_tup
nested_tup[0]
# nested_tup[1]

In [ ]:
tup = tuple(['foo', [1, 2], True])
tup
# tup[2] = False

In [ ]:
tup[1].append(3) # tup : 튜플형, tup[1] : 리스트형
tup

In [ ]:
tup = tuple(['foo',[1,2],True])
tup

In [ ]:
(4, None, 'foo') + (6, 0) + ('bar',)

In [ ]:
('foo', 'bar') * 4

In [ ]:
tup = (4, 5, 6)  # unboxing
a, b, c = tup
b

In [ ]:
tup = 4, 5, (6, 7)
a, b, (c, d) = tup
d

In [ ]:
a, b = 1, 2
a
b
b, a = a, b
a
b

In [ ]:
seq = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
for a, b, c in seq:
    print(f'a={a}, b={b}, c={c}')

In [ ]:
tup = (1,2,3),(4,5,6),(7,8,9)
for a,b,c in tup:
    print(f'a={a},b={b},c={c}')

In [ ]:
values = 1, 2, 3, 4, 5
a, b, *rest = values
a
b
rest

In [ ]:
a, b, *_ = values
a
b
_

In [ ]:
a = (1, 2, 2, 2, 3, 4, 2)
a.count(2)

In [1]:
a_list = [2, 3, 7, None]

tup = ("foo", "bar", "baz")
b_list = list(tup)
b_list
b_list[1] = "peekaboo"
b_list

['foo', 'peekaboo', 'baz']

In [2]:
gen = range(10)
gen
list(gen)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
?range

In [3]:
b_list.append("dwarf")
b_list

['foo', 'peekaboo', 'baz', 'dwarf']

In [4]:
b_list.insert(1, "red")
b_list

['foo', 'red', 'peekaboo', 'baz', 'dwarf']

In [5]:
# removed = b_list.pop(2)
# removed
b_list.pop(2)
b_list

['foo', 'red', 'baz', 'dwarf']

In [ ]:
b_list.append("foo")
print(b_list)
b_list.remove("foo")
b_list

## 예약어 : 소속
* in
* not in

In [6]:
"dwarf" in b_list

True

In [7]:
"dwarf" not in b_list

False

In [8]:
[4, None, "foo"] + [7, 8, (2, 3)]

[4, None, 'foo', 7, 8, (2, 3)]

In [14]:
x = [4, None, "foo"]
x.extend([7, 8, (2, 3)])
x

[4, None, 'foo', 7, 8, (2, 3)]

In [ ]:
a = [7, 2, 5, 1, 3]
a.sort()
a

In [ ]:
?list.sort

In [15]:
b = ["saw", "small", "He", "foxes", "six"]
b.sort(key=len)
b

['He', 'saw', 'six', 'small', 'foxes']

In [16]:
seq = [7, 2, 3, 7, 5, 6, 0, 1]
seq[1:5]

[2, 3, 7, 5]

In [17]:
seq[3:5] = [6, 3]
seq

[7, 2, 3, 6, 3, 6, 0, 1]

In [19]:
# seq[:5]
seq[3:]

[6, 3, 6, 0, 1]

In [22]:
# seq[-4:]
seq[-6:-2]

[3, 6, 3, 6]

In [23]:
seq[::2]

[7, 3, 3, 0]

In [24]:
seq[::-1]

[1, 0, 6, 3, 6, 3, 2, 7]

# 2. 딕셔너리 자료형
* 변수 = {}
* 변수 = dict()
* 키  : 값
* 메서드 :
  * dict.keys()
  * dict.values()
  * dict.items()
  * dict.update()
* 키 포람 여부 확인 : "키" in 딕셔너리
* 자료 생성 : dict["키"] = 값
* 자료 제거 : del dict["키명"]
* 자료 수정 : dict["키"] = 값
* 자료 검색 : dict["키"]

In [25]:
empty_dict = {}
empty_dict
d1 = {"a": "some value", "b": [1, 2, 3, 4]}
d1

{'a': 'some value', 'b': [1, 2, 3, 4]}

In [26]:
d1[7] = "an integer" # 추가
print(d1)
print(d1["b"])
type(d1["b"])

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}
[1, 2, 3, 4]

list

In [27]:
"b" in d1 # d1 사전에 키  "b" 존재 확인

True

In [28]:
d1[5] = "some value"
print(d1)
d1["dummy"] = "another value"
print(d1)

del d1[5]
print(d1)
ret = d1.pop("dummy")
ret
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer', 5: 'some value'}
{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer', 5: 'some value', 'dummy': 'another value'}
{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer', 'dummy': 'another value'}

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

In [29]:
?dict.keys

Docstring: D.keys() -> a set-like object providing a view on D's keys
Type:      method_descriptor

In [30]:
type(d1.keys())

dict_keys

In [35]:
print(list(d1.keys()))
print(list(d1.values()))

['a', 'b', 7]
['some value', [1, 2, 3, 4], 'an integer']

In [33]:
list(d1.items())

[('a', 'some value'), ('b', [1, 2, 3, 4]), (7, 'an integer')]

In [34]:
for i in d1.items():
    print(i)

('a', 'some value')
('b', [1, 2, 3, 4])
(7, 'an integer')

In [36]:
for i in d1:
    print(i)

a
b
7

In [37]:
for i in d1.keys():
    print(i)

a
b
7

In [38]:
for i in enumerate(d1.keys()):
    print(i)

(0, 'a')
(1, 'b')
(2, 7)

In [45]:
d1.update({"b": "foo", "c": 12})
d1

{'a': 'some value', 'b': 'foo', 7: 'an integer', 'c': 12}

In [46]:
for k, v in d1.items():
    print(f"key={k},value={v}")

key=a,value=some value
key=b,value=foo
key=7,value=an integer
key=c,value=12

# 3. iterable object
* 반복 가능한 객체
* 한 번에 하나씩 자료를 반환할 수 있는 객체
* for 문으로 그 값을 출력 할 수 있는 것을 의미
* iterable한 객체 종류
  * sequence types : list, str, tuple
  * non-sequence types : dict, file,
       objects of any classes you define with an __iter__()
* iterable한 객체를 argument로 받는 함수 종류
  * map (function, iterable)
    * 입력 받은 iterable 자료형의 각 요소가 함수 f에 의해 수행된 결과를 묶어서 리턴한다.
  * Sorted (iterable)
    * 입력값을 정렬한 후 그 결과를 리스트로 리턴하는 함수이다.
  * zip (iterable*)
    * 동일한 개수로 이루어진 자료형을 튜플 형태로 묶어 주는 역할을 하는 함수
  * enumerate(iterable)
    * 입력값을 인덱스와 함께 리턴한다

In [49]:
?zip

Init signature: zip(self, /, *args, **kwargs)
Docstring:
zip(*iterables, strict=False) --> Yield tuples until an input is exhausted.

   >>> list(zip('abcdefg', range(3), range(4)))
   [('a', 0, 0), ('b', 1, 1), ('c', 2, 2)]

The zip object yields n-length tuples, where n is the number of iterables
passed as positional arguments to zip().  The i-th element in every tuple
comes from the i-th iterable argument to zip().  This continues until the
shortest argument is exhausted.

If strict is true and one of the arguments is exhausted before the others,
raise a ValueError.
Type:           type
Subclasses:

In [50]:
tuples = zip(range(5), reversed(range(5)))
tuples
print(list(tuples) )# method1
mapping = dict(zip(range(5), reversed(range(5)))) # method2
print(mapping)
for i in zip(range(5), reversed(range(5))): # method 3
    print(i)

[(0, 4), (1, 3), (2, 2), (3, 1), (4, 0)]
{0: 4, 1: 3, 2: 2, 3: 1, 4: 0}
(0, 4)
(1, 3)
(2, 2)
(3, 1)
(4, 0)

In [51]:
data = []
for a, b in zip(range(5), reversed(range(5))):
    data.append((a,b))
data

[(0, 4), (1, 3), (2, 2), (3, 1), (4, 0)]

In [52]:
data = {}
for a, b in zip(range(5), reversed(range(5))):
    data[a]=b
data

{0: 4, 1: 3, 2: 2, 3: 1, 4: 0}

### <문제>

In [53]:
words = ["apple", "bat", "bar", "atom", "book"]
by_letter = {}

for word in words:
    letter = word[0]
    if letter not in by_letter:
        by_letter[letter] = [word]
    else:
        by_letter[letter].append(word)

by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

In [54]:
by_letter = {}
for word in words:
    letter = word[0]
    by_letter.setdefault(letter, []).append(word)
by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

In [55]:
from collections import defaultdict
by_letter = defaultdict(list)
for word in words:
    by_letter[word[0]].append(word)
by_letter

defaultdict(list, {'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']})

In [60]:
hash("string")
hash((1, 2, (2, 3)))
# hash((1, 2, [2, 3])) # fails because lists are mutable

-9209053662355515447

In [57]:
?hash

Signature: hash(obj, /)
Docstring:
Return the hash value for the given object.

Two objects that compare equal must also have the same hash value, but the
reverse is not necessarily true.
Type:      builtin_function_or_method

In [58]:
d = {}
d[tuple([1, 2, 3])] = 5
d

{(1, 2, 3): 5}

In [63]:
set([2, 2, 2, 1, 3, 3])
# {2, 2, 2, 1, 3, 3}

{1, 2, 3}

In [64]:
a = {1, 2, 3, 4, 5}
a
b = {3, 4, 5, 6, 7, 8}
b

{3, 4, 5, 6, 7, 8}

In [65]:
a.union(b)
a | b

{1, 2, 3, 4, 5, 6, 7, 8}

In [66]:
a.intersection(b)
a & b

{3, 4, 5}

In [67]:
c = a.copy()
c |= b
print(c)
d = a.copy()
d &= b
print(d)

{1, 2, 3, 4, 5, 6, 7, 8}
{3, 4, 5}

In [70]:
my_data = [1, 2, 3, 4]

my_data
my_set = {tuple(my_data)}
my_set

{(1, 2, 3, 4)}

In [71]:
a_set = {1, 2, 3, 4, 5}
{1, 2, 3}.issubset(a_set)
a_set.issuperset({1, 2, 3})

True

In [72]:
{1, 2, 3} == {3, 2, 1}

True

In [73]:
data_1 = sorted([7, 1, 2, 6, 0, 3, 2])
print(data_1)
data_2 = sorted("horse race")
print(data_2)

[0, 1, 2, 2, 3, 6, 7]
[' ', 'a', 'c', 'e', 'e', 'h', 'o', 'r', 'r', 's']

In [74]:
seq1 = ["foo", "bar", "baz"]
seq2 = ["one", "two", "three"]
zipped = zip(seq1, seq2)
zipped
list(zipped)
for i, j in zip(seq1, seq2):
    print(i,j)

foo one
bar two
baz three

In [75]:
seq3 = [False, True]
list(zip(seq1, seq2, seq3))

[('foo', 'one', False), ('bar', 'two', True)]

In [76]:
for index, (a, b) in enumerate(zip(seq1, seq2)):
    print(f"{index}: {a}, {b}")

0: foo, one
1: bar, two
2: baz, three

In [77]:
?enumerate

Init signature: enumerate(iterable, start=0)
Docstring:
Return an enumerate object.

  iterable
    an object supporting iteration

The enumerate object yields pairs containing a count (from start, which
defaults to zero) and a value yielded by the iterable argument.

enumerate is useful for obtaining an indexed list:
    (0, seq[0]), (1, seq[1]), (2, seq[2]), ...
Type:           type
Subclasses:

list(reversed(range(10)))

# 4. 반복 표기법
* 리스트
* 튜플
* 딕셔너리
* 집합

In [78]:
strings = ["a", "as", "bat", "car", "dove", "python"]
[x.upper() for x in strings if len(x) > 2] # list apprehension

['BAT', 'CAR', 'DOVE', 'PYTHON']

In [79]:
data = []
for x in strings:
    if len(x) > 2:
        data.append(x.upper())
data

['BAT', 'CAR', 'DOVE', 'PYTHON']

In [80]:
unique_lengths = {len(x) for x in strings} # set apprehension
unique_lengths

{1, 2, 3, 4, 6}

In [81]:
data = set()
for x in strings:
    data.add(len(x))
data

{1, 2, 3, 4, 6}

In [82]:
set(map(len, strings)) #alternative

{1, 2, 3, 4, 6}

In [83]:
loc_mapping = {value: index for index, value in enumerate(strings)} # dictionary apprehension
loc_mapping

{'a': 0, 'as': 1, 'bat': 2, 'car': 3, 'dove': 4, 'python': 5}

In [84]:
loc_mapping={}
for index, value in enumerate(strings):
    loc_mapping[value]= index
loc_mapping

{'a': 0, 'as': 1, 'bat': 2, 'car': 3, 'dove': 4, 'python': 5}

## < 중첩 표기법 >

In [ ]:
all_data = [["John", "Emily", "Michael", "Mary", "Steven"],
            ["Maria", "Juan", "Javier", "Natalia", "Pilar"]] # 중첩 리스트

names_of_interest = []
for names in all_data:
    enough_as = [name for name in names if name.count("a") >= 2]
    names_of_interest.extend(enough_as)
names_of_interest

In [ ]:
result = [name for names in all_data for name in names
          if name.count("a") >= 2]  # 중첩 리스트 표기
result

In [ ]:
some_tuples = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
flattened = [x for tup in some_tuples for x in tup] 
flattened

In [ ]:
flattened = []
for tup in some_tuples:
    for x in tup:
        flattened.append(x)

In [ ]:
[[x for x in tup] for tup in some_tuples]

# 5. 사용자 정의 함수
* argument : positional argument, keyword argumnet, function
  * 예: map(len, iterable)
* global variable
* loval variable

In [ ]:
def my_function(x, y):
    return x + y

In [ ]:
my_function(1, 2)
result = my_function(1, 2)
result

In [ ]:
def function_without_return(x):
    print(x)

result = function_without_return("hello!")
print(result)

In [ ]:
def my_function2(x, y, z=1.5):
    if z > 1:
        return z * (x + y)
    else:
        return z / (x + y)

In [ ]:
my_function2(5, 6, z=0.7)
my_function2(3.14, 7, 3.5)
my_function2(10, 20)

In [ ]:
a = []
def func():
    for i in range(5):
        a.append(i)

In [ ]:
func()
a
func()
a

In [ ]:
a = None
def bind_a_variable():
    global a
    a = [1,2]
bind_a_variable()
print(a)

In [ ]:
states = ["   Alabama ", "Georgia!", "Georgia", "georgia", "FlOrIda",
          "south   carolina##", "West virginia?"]

In [ ]:
import re
def clean_strings(strings):
    result = []
    for value in strings:
        value = value.strip()
        value = re.sub("[!#?]", "", value)
        value = value.title()
        result.append(value)
    return result

In [ ]:
clean_strings(states)

In [ ]:
def remove_punctuation(value):
    return re.sub("[!#?]", "", value)

clean_ops = [str.strip, remove_punctuation, str.title] #함수을 객체로 사용

def clean_strings(strings, ops):
    result = []
    for value in strings:
        for func in ops:
            value = func(value)
        result.append(value)
    return result

In [ ]:
clean_strings(states, clean_ops)

### **  map()

In [ ]:
for x in map(remove_punctuation, states):
    print(x)

In [ ]:
for x in map(str.strip, states):
    print(x)

## ** lambda 익명함수
* 변수 = lambda 입력 : 수식

In [ ]:
def short_function(x):
    return x * 2

equiv_anon = lambda x: x * 2

In [ ]:
def apply_to_list(some_list, f):
    return [f(x) for x in some_list]

ints = [4, 0, 1, 5, 6]
apply_to_list(ints, lambda x: x * 2)

In [ ]:
strings = ["foo", "card", "bar", "aaaa", "abab"]

In [ ]:
strings.sort(key=lambda x: len(set(x)))
strings

In [ ]:
some_dict = {"a": 1, "b": 2, "c": 3}
for key in some_dict:
    print(key)

In [ ]:
?iter

In [ ]:
dict_iterator = iter(some_dict)
dict_iterator

In [ ]:
list(dict_iterator)

# 7. Generator 객체

In [ ]:
def squares(n=10):
    print(f"Generating squares from 1 to {n ** 2}")
    for i in range(1, n + 1):
        yield i ** 2

In [ ]:
gen = squares()
gen

In [ ]:
for x in gen:
    print(x, end=" ")

In [ ]:
gen = (x ** 2 for x in range(100)) # 튜플 표기
gen

In [ ]:
sum(x ** 2 for x in range(100))
dict((i, i ** 2) for i in range(5))

In [ ]:
import itertools
def first_letter(x):
    return x[0]

names = ["Alan", "Adam", "Wes", "Will", "Albert", "Steven"]

for letter, names in itertools.groupby(names, first_letter):
    print(letter, list(names)) # names is a generator

# 8. 예외처리

In [ ]:
float("1.2345")
float("something")

In [ ]:
def attempt_float(x):
    try:
        return float(x)
    except:
        return x

In [ ]:
attempt_float("1.2345")
attempt_float("something")

In [ ]:
float((1, 2))

In [ ]:
def attempt_float(x):
    try:
        return float(x)
    except ValueError:
        return x

In [ ]:
attempt_float((1, 2))

In [ ]:
def attempt_float(x):
    try:
        return float(x)
    except (TypeError, ValueError):
        return x

# 8. file I/O

In [ ]:
path = "examples/segismundo.txt"
f = open(path, encoding="utf-8")

In [ ]:
lines = [x.rstrip() for x in open(path, encoding="utf-8")]
lines

In [ ]:
f.close()

In [ ]:
with open(path, encoding="utf-8") as f:
    lines = [x.rstrip() for x in f]

In [ ]:
f1 = open(path)
f1.read(10)
f2 = open(path, mode="rb")  # Binary mode
f2.read(10)

In [ ]:
f1.tell()
f2.tell()

In [ ]:
import sys
sys.getdefaultencoding()

In [ ]:
f1.seek(3)
f1.read(1)
f1.tell()

In [ ]:
f1.close()
f2.close()

In [ ]:
path

with open("tmp.txt", mode="w") as handle:
    handle.writelines(x for x in open(path) if len(x) > 1)

with open("tmp.txt") as f:
    lines = f.readlines()

lines

In [ ]:
import os
os.remove("tmp.txt")

In [ ]:
with open(path) as f:
    chars = f.read(10)

chars
len(chars)

In [ ]:
with open(path, mode="rb") as f:
    data = f.read(10)

data

In [ ]:
data.decode("utf-8")
# data[:4].decode("utf-8")

In [ ]:
sink_path = "sink.txt"
with open(path) as source:
    with open(sink_path, "x", encoding="iso-8859-1") as sink:
        sink.write(source.read())

with open(sink_path, encoding="iso-8859-1") as f:
    print(f.read(10))

In [ ]:
os.remove(sink_path)

In [ ]:
f = open(path, encoding='utf-8')
f.read(5)
f.seek(4)
f.read(1)
f.close()